/*********** main **************/
a, a:link, a:visited{
  outline: 0;
  text-decoration: none;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

#navbar{
  padding-top: 0!important;
}

.navbar-default .navbar-toggle{
  border:none;
  top:7px;
  span{
    background-color: #fff!important;
    width: 36px;
    height: 6px;
  }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

#question_wrapper{
  direction: rtl;
}

#view_answers table{
  direction: rtl;
  text-align: right;
}
/************home page**************/

#block-block-25, #block-block-29, #block-trivia-game-login-block{
  padding: 0 3% 100px;
  box-sizing: border-box;
}

#block-block-27, #block-mailchimp-lists-newsletter{
  padding: 0 3%;
  box-sizing: border-box;
}

#block-trivia-game-front-images .nav_img{
  cursor: pointer;
}

#block-menu-menu-footer, #block-mailchimp-lists-newsletter{
  max-width: 100%;
  .container{
    max-width: 100%;
  }
}


#block-trivia-game-front-images .container .nod_view{
  max-width: 100%;
}

ol.howto{
  padding: 0;
}

@media (max-width: 767px) {
  #block-block-27 .container{
    .howto{
      li::after {
        border-top: 1px solid #585858;
        content: "";
        display: block;
        float: none;
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: 70px;
        width: 100px;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
      }
      li:last-child::after{
        border: none;
      }
      li::before{
        border: none;
      }
      li{
        margin-bottom: 0px!important;
      }
    }
    #how2play{
      background: url("../images/play-mobile.png") no-repeat scroll center bottom transparent;
      padding-bottom: 230px;
    }
  }
  #user-register-form{
    padding: 0 3%;
    box-sizing: border-box;
    input{
      width: 100%;
      height: 79px;
      text-align: center;
      font-size: 25px;
    }
    .help-block{
      display: none;
    }
    .form-type-textfield, .form-type-password{
      max-width: 100%;
    }
    input#edit-captcha-response{
      font-size: 15px;
    }
    #edit-submit{
      width: 100%;
      height: 79px;
      font-size: 15px;
    }

  }
  #block-menu-menu-footer, #block-mailchimp-lists-newsletter{
    display: none;
  }
}

/************ page-game  **************/

@media (max-width: 767px){
  .page-game{
    #question_wrapper{
      padding: 0;
      #answers{
        margin: 0;
        width: 100%;
        .answer{
          width: 100%;
          margin: 0;
        }
        label{
          width: 100%;
          margin: 0;
          border-radius: 0;
        }
      }
    }
    .q_sumit{
      width: 100%;
      background-color: #e53935!important;
      margin: 20px 0;
      border-radius: 0!important;
      border:none!important;
    }
    #question_wrapper #answers .answer *:checked + label{
      background-color: #424242!important;
    }
  }
}


/********  page result **********/

@media (max-width: 1027px){
  .page-game-result{
    #more_games{
      width: 100%;
      background-color: #e53935!important;
      height: 70px;
      margin: 20px 0 !important;
      padding: 23px 0 0 8px !important;
      text-align: center;
    }
    #show_leaders{
      width: 100%;
      height: 70px;
      margin: 0 0 20px 0 !important;
      padding: 23px 0 0 8px !important;
      text-align: center;
    }
    #play_again{
      margin: 20px 0!important;
      width: 100%!important;
    }
    #top_share a, #fb_share{
      margin-bottom: 40px !important;
      text-align: center;
      width: 100% !important;
    }
    #fb_share{
      margin: 0 0 40px !important;
      text-align: center;
      width: 100% !important;
    }
    #mdl{
      padding: 0 3%!important;
    }
    .row .region-content{
      width: 100%!important;
    }
    #view_answers table{
      font-weight: bold;
    }
  }
}

.page-game-result{
  .table-striped tbody{
    td:nth-child(1) {
        width: 0!important;
    } 
  }
  .table-striped thead{
    th:nth-child(1) {
        width: 0!important;
    } 
  }
}

@media (max-width: 767px){
    #col_left{
      display: none;
    }
  }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @media (max-width: 767px){
      .page-game-result{
        .table-striped{
          thead{
            float: left;
          }
          tr{
            float: left;
            clear: both;
          }      
          th, td{
            width: 100px!important;
            font-size: 13px;
          }
        }
      }
    }
}

@media (max-width: 1027px){
.page-game-result{
  .table-striped tbody{
    td:nth-child(2) {
        display: none;
    } 

  }
  .table-striped thead{
    th:nth-child(2) {
        display: none;
    } 
  }
}
}

.page-game-result{
  .table-striped tbody{
    .wrong{
      td:nth-child(5) {
        background: url("../images/false.png") no-repeat scroll center center transparent;
        text-indent: -9999px;
      } 
    }
    .right{
      td:nth-child(5) {
        background: url("../images/true.png") no-repeat scroll center center transparent;
        text-indent: -9999px;
      } 
    }
  }
}

/*********  Menu  ***********/

.logged-in.menu-close{
  .site-menu{
    display: none;
  }
}

.menu-close #user_menu{
    display: none;
  }

#block-trivia-game-user-bar{
  padding-top: 13px;
  width: 100%;
  #curstat, #balnc, #uname{
    float: right;
  }
  #uname{
    padding-left: 0;
    margin-left: 50px;
    cursor: pointer;
  }
  #curstat, #balnc{
    margin-top: 12px;
  }
  .block-title{
    width: 20px;
    background: url("../images/bottom-menu.png") no-repeat scroll right center transparent;
    float: right;
    height: 50px;
    padding-right: 24px;
    margin-right: 20px;
    text-indent: -9999px;
    cursor: pointer;
  }
}

@media (max-width: 767px){
  #user_menu{
      width: 100%;
      right: 0;
      text-align: center;
      li{
        width: 100%;
      }
  }
  ul.site-menu{
    top: 65px;
  }
}

.logged-in{
  #burger{
    background: url("../images/bottom-menu.png") no-repeat scroll right center transparent;
    height: 40px;
    span{
      width: 0;
      height: 0;
    }
  }
}

/************user-login**************/

.page-user-login,.page-user-password, .page-user-register, .page-user{
  .help-block{
    display: none;
  }
  h4{
    font-size: 14px;
  }
  input{
    height: 40px;
  }
  #edit-submit{
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
  }
  .nav-tabs {
     border: none!important;
     a{
      color: #fff;
     }
     a:hover, a.active, a:focus{
        border-bottom: 1px solid #e53935;
        border-right: none;
        border-left: none;
        border-top: none;
        background-color: transparent;
        color: #fff;
        box-sizing:border-box;
     }
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: transparent!important;
        border-bottom: 1px solid #e53935;
        border-right: none;
        border-left: none;
        border-top: none;
    color: #fff;
}


@media (max-width: 767px){
  .nav-tabs{
    width: 100%!important;
    li {
      width: 100%;
      display: block;
      text-align: center;
    }
    a.active{
      border:none!important;
      color: #e53935!important;
    }
  }
}

.page-user{
  .profile{
    text-align: center;
    margin-top: 10px;
    a{
      background-color: #e53935;
      border: 0 none;
      border-radius: 2px;
      color: #fff;
      display: block;
      margin: 0 auto;
      max-width: 300px;
      padding: 10px;
      margin-top: 15px;
    }
  }
}
/************  facebook  **************/

  
  .facebook-action-connect{
      background: url("../images/join_facebook.png") no-repeat scroll center center transparent;
    border-radius: 3px;
    display: block;
    height: 56px;
    margin: 0 auto;
    max-width: 100%;
    width: 300px;
    background-size: 100%; 
    img{
      display: none;
    }
  }

  /************  user page  **************/


  .page-user-mailchimp{
    button{
      clear: both;
    }
    #mailchimp-newsletter-newsletter{
      text-align: center;
      padding-top: 20px;
    }
    .form-type-checkbox label{
      padding: 11px 0 25px 2px;
    }
  }


.page-user-draw-money #draw-money{
  padding-top: 20px;
}

.page-user-edit{
  .password-strength{
    float: right;
    margin-bottom: 20px;
  }
  .form-type-password{
    width: 100%;
    max-width: 100%;
  }
  .form-item-name{
    margin-bottom: 5px!important;
    float: left;
  }
  .form-item-mail{
    float: right;
  }
  #edit-fboauth{
    clear: both;
  }
  input{
    width: 16em!important;
    max-width: 100%!important;
  }
  input#edit-picture-delete{
    width: auto!important;
    height: auto;
    margin: 6px 0 0;
  }
  .form-type-checkbox{
    margin: 0;
    label{
    padding: 0 0 10px 17px;
    }
  }
  legend{
    padding: 0;
  }
  .panel-body{
    padding-left: 0;
  }
  #edit-field-country{
    clear: both;
    select{
      padding: 0;
      width: 16em;
      height: 40px;
    }
  }
  #edit-field-birthdate{
    padding-top: 35px;
  }
  .date-padding{
    padding: 0;
  }
  #edit-field-first-name, #edit-field-last-name{
    float: left;
    width: 16em;
    input{
      width: 100%!important;
    }
  }
  #edit-field-last-name{
    float: right;
  }
}

.page-user-orders{
  .view-empty{
    text-align: center;
    padding-top: 30px;
  }
}

@media (max-width: 767px){
  .page-user{
    .password-strength, .form-item-name, .form-item-mail, .password-field, #edit-field-last-name{
      clear: both;
      float: left;
    }
    .panel-title{
      float: left;
    }
  }
}

@media (max-width: 480px){
  .page-user.logged-in .main-container .row #mdl .row .box{
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .page-user.logged-in .main-container .row #mdl .row .box{
    width: 48%;
  }
}

@media (min-width: 768px) and (max-width: 1150px){
  .page-user.logged-in .main-container .row #mdl .row .box{
    width: 31%;
  }
}

.faq-question-answer, .page-node-134{
  font-size: 15px;
  div.faq-detailed-question{
    font-style: normal; 
    font-size: 15px;
  }
  p, span{
    font-size: 15px!important;
    font-family: tw_font,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
  }
}

.page-node-38749{
  .page-header{
    font-size: 29px!important;
    font-weight: bold!important;
    text-align: center!important;
  }
  .field-name-body{
    text-align: center;
    .btn{
      clear: both;
      max-width: 100px;
      margin-top: 20px;
    }
  }
  thead{
    th{
      color: #999!important;
      background-color: #323232!important;
      font-weight: normal;
    }
    tr th:nth-child(3){
      text-align: right;
    }
  }
  tbody{
    tr{
      border-bottom: 5px solid #323232;
      td:first-child{
        border-right: 3px solid #323232;
        width: 20px;
      }
    }
    tr.even{
      background-color: #212121;
    }
    tr.odd{
      background-color: #616161;
    }
    tr td:nth-child(3){
      text-align: right;
    }
  }
}

/********** errror alert**************/

.alert-block{
  border:1px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 60%;
  margin: 0 auto 30px;
}

div.error, table tr.error {
    background-color: transparent;
    border: 1px solid;
    color: #a94442;
    padding: 10px 0;
}

#user-register-form{
    .help-block{
      display: none;
    }
  }