h1 ,h2 ,h3 ,h4 {
	font-weight:bold;
	text-transform:uppercase;
}
h2 , h3 {
	font-size:29px;
}
.form-control {
	height:27px;
}
a , a:hover {
	color:@red;
}
a:hover {	
}
sup {
	font-size:12px;	
	&.credit {									
		font-weight: bold;
		height: 37px;		
		margin: 0px -3px;		
		position: relative;
		top: -6px;
		width: 27px;						 
		&::before , &::after {
			content: "|";									
			display:inline;										
			position: relative;	
			font-weight: normal;
		}
		&::before {									
			left: 7px;																														
		} 	
		&::after {									
			right: 6px;																														
		} 	
	}
}
.panel {
	border:0 none;
	background-color: transparent;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-left:0;
padding-right:0;
}
.form-type-textfield , .form-type-password {
	max-width:300px;
	margin: 10px auto;
	float: none!important;
}
table {
				width:600px;
				margin:0 auto;
				> thead{
					background:none repeat scroll 0 0 @gray-darker;
					color: @gray;					
					> tr {
						> th {
							border:0 none;							
							color:@gray;
						}
					}
				}
				tr {					
					&.even {
						background:none repeat scroll 0 0 #393939;
					}
					td {
						border:0 none;
					}
				}
	}
.node-type-page {
	table {
		margin:10px auto 30px;
		
		thead {
			th {
				background: @red;
				color:#fff;
				padding:10px;
			}
		}
		tr {
			background: #a1a1a1;
			&.even {
				background: #999;
			}
			td {
				padding:10px;
			}
		}
	}
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: transparent;
}
html , body {
	height:100%;
	color:#fff;
}
#block-block-25, #block-block-29 {
	h2 {
		padding:15px 0;	 
		text-transform: uppercase;
		font-size:24px;
		font-weight:bold;
		margin:35px 0 10px;
	}
	.show {
		padding:25px 0;
	}
}
.credit-icon {
		background: url("../images/c.png") no-repeat scroll center 7px rgba(0, 0, 0, 0);
		width:20px;
		height:20px;
}
.btn {
	background-color: @red;
	color:#fff;
	border-radius: 2px;
	border:0 none;
	display: block;
    margin: 0 auto;
	
}
.logged-in {
	.navbar-header{
		width: 20%;
	}
	.navbar-right {
		width: 80%;
		color:#fff;
		
		.container {
			width:auto;
		}
		#block-trivia-game-user-bar {			 
			  float: right;
			  font-size:18px;
			  a {
				color:@red;
				padding:0 0 0 5px;				
			  }
			  span {
			  padding-left:50px;
			  }
			  .credit-icon {
				background: url("../images/c.png") no-repeat scroll center 7px rgba(0, 0, 0, 0);
				display: inline-block;
				height: 20px;
				padding: 0;
				width: 15px;
			  }
			  #uname {				
				img {
					margin: 0 0 0 10px;
				}
			  }
		  
		}	
	}	
}

@media (max-width: 767px){
	.logged-in .navbar-header{
		width: 100%;
	}
}

#navbar {	
	margin-top:0;
	margin-bottom:0;
	background:@gray-darker;
	min-width: 100%;
    width: 100%;
    padding: 10px 0 5px;
    .active {		
		a , a:hover
		{
			color:#fff;
		}
    }
    .container {
		padding-right:10px;
    }
}
.page-user.logged-in {	
	.main-container .row #mdl {
	   padding-top:30px;
	   
	   .page-header , .user-picture {
			display:none;
		 }
		 h2 {
			text-align:center;
			padding:20px 0;
		 }
		 .tabs--primary {
			width:600px;
			margin:0 auto;
			border: 0 none;
			li {
				a {
					color:#fff;
					&:hover {
						background-color: transparent;
						border:0 none;
					}
					&.active {
						border:0 none;
						background-color: transparent;
						border-bottom:1px solid @red;
					}
				}
			}
		 }
		 .row {
			display:block;
			width: 85%;
			margin: 0 auto;
			background:none repeat scroll 0 0 transparent;
			.box {
				background:none repeat scroll 0 0 @gray-darker;
			    padding-bottom: 17px;
			    padding-top: 10px;
			    text-align: center;
			    width: 18%;
			    float: left;
			    margin-right: 2%;
   				min-height:100px;
				text-align:center;
				font-size:40px;
				margin-bottom:10px;
				sup {
					top:-20px;
				}
				label {
					 color: #666;
					 font-size:16px;
					 display: table;
					 margin: 0 auto;
					 padding:10px 0 0;
					 font-weight:normal;
				}
			}
		 }
		 #block-trivia-game-user-tables {
			table {
				width:600px;
				margin:0 auto;
				thead{
					background:none repeat scroll 0 0 @gray-darker;
					color: #666;					
					th {
						border:0 none;
					}
				}
				tr {					
					&.even {
						background:none repeat scroll 0 0 #393939;
					}
					td {
						border:0 none;
					}
				}
			}
		 }
		 #user-profile-form {
			max-width:600px;
			margin:0 auto;
			margin-top:10px;
			legend {
				background-color: transparent;
				border:0 none;
				
				.panel-title { 
					color:#fff;
					font-size:27px;
					font-weight:bold;
				}
				
			}
			.form-type-textfield, .form-type-password {
				margin:0;
			}
		 }
	}
	#block-trivia-game-user-edit-bar {		
		background: url() #000;
		padding:10px;
		display:block;				
		font-size:40px;
		font-weight:normal;	
		.row {
			display:inherit;
			margin-top:0;
			background-color: transparent;
			width:100%;
			min-width:500px;
			max-width:100%;
			
			#uname {
				
				img {
					 border-radius: 100px;
					 width:120px;
				     height:120px;
					 margin:25px;
				}
			}
			#user-name-rank {
				padding:33px 0;
				display:table;
				font-size:22px;
				#hello , #rank {
					display: table-cell;
					vertical-align: middle;
				}
				#hello {
					padding:20px;
					margin-right:30px;
				}
				#rank {
					padding-left:20px;
					font-weight:bold;
				}
				.btn {
				
					width:100px;
					margin:10px 0;
				}
			}
		}
	}
}
.container  {
	width:auto;
	margin:0 auto; 	
	padding:0;
}
.main-container {
	width:100%;
	min-height:100%;	
	overflow:auto;
	padding: 70px 0 @footer_height;		
	background:none repeat scroll 0 0 @gray-darker;
	.row {
		padding:0px;		
		min-height:100%;
		height:100%;
		margin-top:100px;
		text-align:left;
		max-width: 100%;	
		margin-left: 0;
		margin-right: 0;			
		margin-top:0;
		.page-header {
			border-bottom:0 none;
			margin-bottom: 0;
			padding-bottom: 0;
			text-align:left;
			font-weight:normal;
			font-size:22px;
			margin: 20px 0px;			
		}
		
		#mdl {
				padding:0;				
				min-height:100%;
				height:100%;
				background:@gray-darker;
				padding:0 27px;
				.region-content  {
					height:100%;									
				}
			
		}
		
	}
}
body.front .main-container .row {
	text-align:center;
	#mdl
	{
		padding:0;
	}
}
.no-sidebars .main-container .row .region-content {
	display:inherit;
}

#user_img
{
  border-radius: 50%;
  width:50px;
  height:50px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding:20px 40px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active, 
.navbar-default .navbar-nav > li > a.active:hover {
    color: #fff!important;
    background-color: transparent;
}

.navbar .logo {   
	padding:5px 0 5px 20px;
}
.navbar-default {
	background-color:#000;
	border:0 none;
}
#block-block-25, #block-block-29 {
	background: url("../images/home_bg.png") repeat-x scroll 0 0 #1c1c1c;
	color:#fff;	
	font-size:16px;
	padding-bottom:100px;
	p {
		max-width:350px;
		margin:0 auto;
	}
}
#block-block-28 {	
		background-color: @opac;
		min-height: 100px;
		min-width: 100%;
		padding: 0;			
		width: 100%;
		position:relative;
		float:left;
		top:-100px;
		margin-bottom: -100px;
		.container {
			max-width:1000px;
			margin:0 auto;
			ol {	
					list-style-type: none;
					margin-left: 0;	
					text-align: left;	
					padding:25px 0;	
					color:@white;	
					li{
						width:30%;	
						float: left;
						background: url("/sites/all/themes/bootstrap/images/li_Sep.png") no-repeat scroll 96% 0 rgba(0, 0, 0, 0);				
						.li_inner {
							width:90%;
							margin:0 auto;	
							padding-left:35px;	
							h3 {
								color:@title-color1;	
								margin:0;
								padding:0;
								text-transform:uppercase;		
								font-weight:bold;		
							}	
							p {
								width:auto;
							}				
						}					
						.li_1 {
							background: url("/sites/all/themes/bootstrap/images/1.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);				
						}
						.li_2 {
							background: url("/sites/all/themes/bootstrap/images/2.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);				
						}
						.li_3 {
							background: url("/sites/all/themes/bootstrap/images/3.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);				
						}
					}
					li.two{
					    width: 40%;
					}
					li:last-of-type {
						background:url();
					}					
											
			}
		}
}

#block-trivia-game-front-images {
	background:@white;
		
	.container {
		max-width:1000px;
		margin:0 auto;
		
		ul.tabs {
			clear:both;
			display:inline-block;
			cursor:pointer;
			padding:20px 15px 10px;
			margin:0;
			width:100%;
			li {
				list-style:none;
				float:left;
				a {
					color:@gray-darker;
					text-transform:uppercase;
					margin-right:35px;	
					padding-bottom:3px;
					&:hover {
						text-decoration:none;
					}
					&.active {
						border-bottom:2px solid @red;
					}
				}
			}	
		}
		.nod_view {		
			 width: 320px;
			 height: 280px;	
			 display: inline-block;
			 margin: 4px;
			.nav_img {				
				margin: 0 auto 10px;
				width: 320px;
				.opc{
					background: none repeat scroll 0 0 @opac;
					width: 320px;
					height: 280px;	
					display: block;
					position: relative;
					span {
						position: absolute;
						float: left;					
						text-align:left;
						&.field_play_price {
							text-align:center;
							background: url() no-repeat scroll 34px 6px @opac;
							border:1px solid @white;
							color:@white;
							border-radius: 30px;
							display: inline-block;
							font-size:22px;
							width:55px;
							height:55px;
							line-height:15px;				
							font-weight:bold;					
							padding: 10px 5px 0 0;		
							left: 30px;
							top: 34px;	
							padding:20px 0 10px 0;
							sup {
								&.credit {
									font-size: 13px;
									top: -10px;
									&:before {
										left:6px;
									}
									&:after {
										right:4px;
									}
								}
							}
						}
						&.field_win_amount {
							background: url("/sites/all/themes/bootstrap/images/star.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
							color: @white;
							font-size: 28px;
							height: 90px;
							left: 200px;
							min-width: 89px;
							padding: 26px 0;
							text-align: center;
							top: 15px;
							font-weight: bold;
							.wintitl {
								 font-size: 17px;
							     left: 32px;
								 position: absolute;
								 top: 9px;
								 font-weight: normal;
							}
							.credit-icon {								 
								background: url("") repeat scroll 0 0 rgba(0, 0, 0, 0);
								float: none;
								font-size: 23px;
								font-weight: bold;
								height: 37px;
								margin: 0 -5px;
								position: relative;
								top: -9px;
								width: 27px;						 
								 &::before , &::after {
										content: "|";									
										display:inline;										
										position: relative;	
										font-weight: normal;
								}
								&::before {									
										left: 10px;																														
									} 	
								&::after {									
										right: 8px;																														
								} 	
							}
						}				
						&.game_end , 
						&.participants ,	
						&.field_category , 
						&.field_qnumber ,
						&.category_parent , 
						&.game_type
						{
							color:@white;
							font-size:16px;	
							left: 30px;
							max-width:300px;
							top:220px;														
								&.category_parent ,
								&.field_category {
									top:200px;	
									&.category_parent {
										color:@white;
										top:175px;						
										font-size:20px;
										font-weight:bold;	
									}							
									a {
										color:@white;
										text-decoration:none;
									}
								}							
						}	
						&.game_type {
								top:240px;
						}	
						&.game_end {
								top:260px;
						}
						&.participants {
								top:260px;
								left:220px;
						}
								
					}	
					
				}
			}
		}
	}
}
#block-block-27 {
	color:@white;
	padding-top: 70px;
	text-align:center;
	.container {
		max-width:1000px;
		margin:0 auto;
		hr {
			max-width:420px;
			display:block;
			clear: both;
			border-color:#585858;
			margin:40px auto 50px;
		}
		#how2play {
			background: url("../images/play.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			line-height: 52px;
			margin: 0 auto 45px;
			max-width: 420px;
			cursor:pointer;
		}	
		.howto {	
				li {
					list-style:none;
					width:23%;
					height:300px;
					float:left;
					padding-top:50px;
					margin:50px 5%;	
					h4 {
						font-size:22px;
						margin: 0 auto;
						&:before {	
							border: 3px solid @red;
							border-radius: 50px;
							content: "";
							display: block;
							height: 100px;
							margin: 0 auto -70px;
							position: relative;
							top: -84px;
							width: 100px;
						}
					}						
					&:before {
						border-top: 1px solid @gray;
						content: "";
						float: left;
						left: 106%;
						position: relative;
						top:70px;
						width: 30%;
					}
					
					&:last-child:before {
						width: 0px;
						border-top: 0px none;
					}
					&.li_1 {
					background: url("/sites/all/themes/bootstrap/images/1.png") no-repeat scroll center 0px rgba(0, 0, 0, 0);				
					}
					&.li_2 {
						background: url("/sites/all/themes/bootstrap/images/2.png") no-repeat scroll center 0px rgba(0, 0, 0, 0);				
					}
					&.li_3 {
						background: url("/sites/all/themes/bootstrap/images/3.png") no-repeat scroll center 0px rgba(0, 0, 0, 0);				
					}		
				}											
		}	
	}
}
#block-trivia-game-login-block {
	background-color:#1c1c1c;	
	color:@white;	
	padding:25px 0;	
	input , button	{
		width: 250px;    
		margin:0 auto;
		background-color:#363636;
		border:0 none;
		border-radius: 0;	
		color:@white;
		&#edit-submit{
			background-color:@red;
		}
	}
}
footer.footer {
	background-color:#141414;	
	border-top:5px solid #242424;
	margin-top:0;	
	position: relative;
	margin-top: -@footer_height;
	text-align:center;
	height: @footer_height;
	clear:both;
	.container {
		max-width:1000px;
		margin:0 auto;
		#block-menu-menu-footer {
			float:left;
			.container {
				width:400px;
				li
				{			
					float:left;
					width:200px;
					a {
						color:@white;			
						text-transform:uppercase;
					}
					a:hover{
						color: #000!important;
					}
				}	
			}
		}		
		#block-mailchimp-lists-newsletter {
			float:right;					
			.container {
				width:350px;
				color:@white;
				text-align:left;	
				h2 {
					padding:0;					
					font-weight:normal;				
				}	
				.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
					margin: 13px 2px;
				}
				label {
					margin:10px;
				}
				#edit-mailchimp-lists-mailchimp-newsletter-mergevars-email {
					border-radius: 6px;
					height: 33px;
				}	
				button {
					  float: left;
					  margin: 10px 2px;
					  text-transform: uppercase;
				}
				.form-type-textfield {				
					width:150px;
					float:left;
					input {
						color:@gray-darker;
					}
				}	
			}
		}
		#block-block-5 {		
			clear:both;		
			.container {			
				margin:0 auto;	
				z-index: 5;
				position: relative;
				background-color:#141414;		
				width:250px;						
				a {
					width:25px;
					height:25px;	
					display:inline-block;
					&[title=Facebook]{
						background: url("/sites/all/themes/bootstrap/images/Facebook.png") no-repeat scroll center 0px rgba(0, 0, 0, 0);												
					}
					&[title=Twitter]{
						background: url("/sites/all/themes/bootstrap/images/twitter.png") no-repeat scroll center 0px rgba(0, 0, 0, 0);											
					}
				}
			}
		}
		#block-block-3 {
			color:@gray-darker;
			a {
				color:@gray-darker;
				&:hover{
					text-decoration: none;
				}
			}
		}		
	}
	hr {
			margin: 0 85px;
			position: relative;
			top: -37px;
			border:1px solid @gray-darker;
	}
}
.region-sidebar-second {
	color:@white;	
	background-color:#1c1c1c;
	text-align: left;
	.container {	
		width:auto;	
	}
}

body.front {	
	.main-container {
		padding-bottom:0;
	}
	footer.footer {
		height:auto;
		margin-top:0;		
	}
}
#view_answers {
	table {
		border:0 none;		
		margin: 0 auto;
		width: 735px;
		tr {
			display:block;
			margin-bottom:10px;
			&.wrong {
				background:#ff5252;
			}
			&.right {
				background:#8ac149;
			}			
		}
	}
}
/* clock */
@-webkit-keyframes 
load { 0% {
	stroke-dashoffset:0
}
}
@-moz-keyframes 
load { 0% {
	stroke-dashoffset:0
}
}
@keyframes 
load { 0% {
	stroke-dashoffset:0
}
}
#question_wrapper {
	color:@white;
	background-color:#323232;
	padding:25px;	
	text-align:center;
	#question_title {
		font-size:22px;	
		display: block;	
	}
	#answers {
		clear: both;
		display: block;
		margin: 0 auto;		
		width: 430px;		
		.answer {			
			display: inline-block;			
			margin: 5px;
			width: 199px;		
			
			.answer-item {				
				display:none;
			}
			label {				
				width:300px;				
				border:1px solid #424242;
				padding:15px 0;
				border-radius:5px;				
			}
			& :checked + label {
				  background-color:@red;				 
			} 
		}
	}
	.q_sumit {
		 background-color: #424242;
		border-bottom-color: #222;
		border-radius: 5px;
		border-width: 0 0 4px;
		clear: both;
		padding: 10px;
		text-transform: uppercase;
	}
	#timer {
		padding-right: 50px;
		svg {
		  transform: scaleY(-1) rotate(90deg);
		  -webkit-transform: scaleY(-1) rotate(90deg);
		  -moz-transform: scaleY(-1) rotate(90deg);
		  -ms-transform: scaleY(-1) rotate(90deg);
		  width:100px;
		}
		#time_left {
			  color: @white;
			  display: block;
			  float: left;
			  font-size: 20px;
			  left: 50%;
			  padding: 20px 10px;
			  position: relative;			 
			  top: 18px;
			   width: 50px;
		}
		#timerBar , #showBar{
			  fill: none; 
			  troke-dasharray: 0;
			  &#timerBar {
				stroke-dasharray: 629;
				fill: #2b2a2a;
			  }
			  &#showBar {
				stroke:@red;
			  }			  
			  &.start {
				  -webkit-animation: load 10s;
				  -moz-animation: load 10s;
				  -o-animation: load 10s;
				   animation: load 10s;
				  
				  -webkit-animation-timing-function: linear; 
				   animation-timing-function: linear;
			  }
		}	
		
	}
}
/* end clock */
.page-game {
	.page-header {
		display:none;
	}
}
.page-game-result {
	.row {
		#mdl{
			h1 {
				text-align:center;
				font-weight:bold;
				font-size:27px;
			}			
			background:url("/sites/all/themes/bootstrap/images/home_bg.png") repeat scroll 0 0 #1c1c1c;
			height: 100%;
			padding-top:20px;
			table {
				thead {
					tr	{
						margin-bottom: 0;
						th {							
							color:@gray;
						}
					}
				}
				th , td {
					width:150px;
					border: 0 none;
					&:nth-child(2) {
						width:400px;
					}
					&:nth-child(5) {
						width:50px;
					}
				}
			}
			#topShare {
				margin:10px auto;
				text-align: center;
				a {
					color: @white;
					 background-color:  #e53935;
					 display: block;
					 margin: 0 auto;
					 padding: 10px;
					 width: 200px;
					 &:hover{
						text-decoration:none;
					 }
				}
			}
			#buttns {
				margin:0px 0 60px;
				a {
					padding:10px;
					background-color: #525252;
					margin:0 4px;
					color:@white;
					float:right;
					&#show_leaders {
						float:left;
					}
					&#play_again {
						background-color: @red;
					}
				}
			}
			#fb_share{
				background: url("../images/share_facebook.png") no-repeat scroll center center #3b5998!important;
				text-indent: -9999px;
				width: 200px;
			}
		}
		.region-content {
			background-color:transparent;
			display: block;
			margin: 0 auto;
			width: 740px;
		}
	}
}
.region-sidebar-second {	
	#block-trivia-game-game-bar {
		text-align:center;
		h3 {
			font-weight:normal;
		}
		a {
			text-transform:uppercase;			
		}
		hr {
			border-color: #282828;
		}
		.min_block {
			padding:10px 20px;
			text-align:left;
			table.stat{				
				border:	1px solid @gray-dark;	
				text-align: center;		
				display:block;
				margin:0 auto;
				width:160px;
				background-color:#272727;
				border-radius:2px;
				.tr1 td {
					color: @gray;
				}
				.tr2{					
					td {
						font-size: 30px;
						line-height: 30px;
						padding:0 0 10px;
					}
				}
				td {
					width:80px;		
					sup {
						top:-10px;
					}			
				}
				
			}
		}
	}
}
.page-plans {
	.main-container .row #mdl {
		background: url(../images/coin_image.png) transparent;
		background-size: cover;
		.view-plans {
			text-align:left;
			.view-content {
				width:400px;
				.node-package {
					display:block;
					width:100px;				
					display: inline-block;
					float: left;
					height: 100px;
					margin: 5px 10px 10px;
					h2 {	
						text-align:center;
						a {
							color:@white;
							font-weight:bold;
							display: block;
							width: 102px;
							background:@gray-darker;
							height: 95px;
							margin: 0;
							padding: 25px 0 35px;
							border:3px solid transparent;
							&:hover {
								border:3px solid @red;
								text-decoration:none;
							}
						}
						
					}				
					.field-name-field-p-credit ,
					.field-name-field-money-type ,
					.field-name-field-product {
						display:none;
					}
				}
				.mt_credit .field-name-commerce-price {					  
						  width: 95px;
						  text-align: center;
						  top: -35px;
						  position:relative;
						  sup{
						  	top: -1px;
						  }
				}
				.mt_money .field-name-commerce-price {
					display:none;
				}
			}
		}
	}
}
#count2start {
	font-size:40px;
	width:250px;
	text-align: center;
	#start_counter {
		font-size:80px;
		display: block;
		font-weight:bold;	
	}	
}
ul.site-menu {
	  display: inline-block;
	  right: 35px;
	  top: 75px;
	  position: absolute;
      background: #212121;
      padding: 0;
      margin:0;
	  li {
		padding:5px;
		list-style:none;
		margin:0;
		width: 150px;
		a{
			display: block;
			border-bottom: 1px solid #373737;
			color: @white !important;
			font-size: 14px;
			padding-bottom: 10px!important;
		}
	  }
	  li.last a{
	  	border:none;
	  }
}
#user-login , #block-trivia-game-login-block {
	text-align:center;
	background-color: transparent;
}
.not-front {
	.block {		
	}
}
.page-checkout {
	.row h1.page-header {
		font-weight:bold;
		text-align:center;
	}
	legend {
		display:none;
	}
	#commerce-checkout-form-checkout {
		margin: 0 auto;
		max-width: 600px;
		.commerce-price-formatted-components {
			width:100%;
			margin:0;
			border:0 none;
			td {
				width:50%;			
				font-weight:normal;	
				&.component-title {
					text-align:right;					
					padding-top:26px;
				}
				&.component-total {
					text-align:left;
					font-size:30px;					
				}
			}
		}
	}
}
/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-sm-min) { 
	.navbar .logo {   
		padding:5px 10px 5px 35px;
	}
	#block-block-25, #block-block-29 {
		p {
			display:none;
			&.show {
				display:block;				
			}
		}
	}
	#block-block-28 {
		display:none;
	}	
	#block-block-27 .container .howto li {
		margin:50px 0;
		width:100%;
		&:after {			
			content:none;		
		}
	}
}
@media (min-width: @screen-sm) { 
	.navbar-default .navbar-nav {
		#reg_btn , #login_btn {
			background-color: @gray;
			border-radius: 5px;
			color:@white;
			margin-top: 10px;
			padding: 10px 5px;		
			margin-right:10px;
		}
		#reg_btn  {
			background-color: @red;
		}
		> li > a {			
			padding:20px 20px 0 0;
		}
	}
}

.logged-in #reg_btn{
	display: none;
}
#view_answers a {
	color:#fff;
}
